
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,500&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


 


.time{
    font-family: 'Times New Roman', Times, serif;
}

.textColor1 {
    background: linear-gradient(90deg, #22d3ee, #6d28d9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
  }



  @media (max-width: 576px) {
    .xs {
        padding: 4px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px; 
        width: 100%;
      
     
    }
    .cardXs {
        width: 100%; 
        font-size: 5px; 
    }
    .button-xs {
        padding: 6px 8px; 
        font-size: 10px;   
    }
    .text-xs-1{
        font-size: 8px;
    }
    .back-xs{
        background-color: white;
    }
    .xs-image{
        width:145px;
        height: 145px;
    }
}


